/* 
===================================================================
Util
===================================================================
*/
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-contents {
  display: contents;
}

.pointer {
  cursor: pointer;
}

.padding-none {
  padding: 0px !important;
}

.margin-none {
  margin: 0px !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

/* 
===================================================================
Layout Shift
===================================================================
*/

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.50rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.50rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.50rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.50rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.50rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.50rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.50rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.50rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pa-1 {
  padding: 0.25rem;
}

.pa-2 {
  padding: 0.50rem;
}

.pa-3 {
  padding: 0.75rem;
}

.pa-4 {
  padding: 1rem;
}

.pa-5 {
  padding: 1.25rem;
}

.pa-6 {
  padding: 1.50rem;
}

.pa-7 {
  padding: 1.75rem;
}

.pa-8 {
  padding: 2rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.50rem;
  padding-bottom: 1.50rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ma-1 {
  margin: 0.25rem;
}

.ma-2 {
  margin: 0.50rem;
}

.ma-3 {
  margin: 0.75rem;
}

.ma-4 {
  margin: 1rem;
}

.ma-5 {
  margin: 1.25rem;
}

.ma-6 {
  margin: 1.50rem;
}

.ma-7 {
  margin: 1.75rem;
}

.ma-8 {
  margin: 2rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.50rem;
  margin-bottom: 0.50rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.50rem;
  margin-bottom: 1.50rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  width: 100%;
  max-width: 96%;
  margin: 0% auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - var(--slip));
  flex-basis: 100%;
  flex: 12;
  margin: auto;
}

.col {
  display: flex;
  flex-direction: column;
  max-width: calc(100.00% - var(--slip));
  flex: 1;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8.33%;
  max-width: calc(8.33% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.666%;
  max-width: calc(16.666% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-3 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25.00%;
  max-width: calc(25.00% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-4 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.33%;
  max-width: calc(33.33% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-5 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 41.666%;
  max-width: calc(41.666% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-6 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50.00%;
  max-width: calc(50.00% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-7 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 58.33%;
  max-width: calc(58.33% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-8 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66.666%;
  max-width: calc(66.666% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-9 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75.00%;
  max-width: calc(75.00% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-10 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 83.33%;
  max-width: calc(83.33% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-11 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 91.666%;
  max-width: calc(91.666% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

.col-12 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100.00%;
  max-width: calc(100.00% - var(--slip));
  padding: 4px calc(var(--slip)/2);
}

/* 
===================================================================
Responsive Tablet
===================================================================
*/
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0% auto;
  }
  
  .col-md-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.33%;
    max-width: calc(8.33% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.666%;
    max-width: calc(16.666% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25.00%;
    max-width: calc(25.00% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33%;
    max-width: calc(33.33% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-5 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.666%;
    max-width: calc(41.666% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50.00%;
    max-width: calc(50.00% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.33%;
    max-width: calc(58.33% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-8 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.666%;
    max-width: calc(66.666% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-9 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75.00%;
    max-width: calc(75.00% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-10 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.33%;
    max-width: calc(83.33% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-11 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.666%;
    max-width: calc(91.666% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
  
  .col-md-12 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100.00%;
    max-width: calc(100.00% - var(--slip-tablet));
    padding: 4px calc(var(--slip-tablet)/2);
  }
}

/* 
===================================================================
Responsive Desktop
===================================================================
*/
@media (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0% auto;
  }

  .col-lg-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.33%;
    max-width: calc(8.33% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.666%;
    max-width: calc(16.666% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25.00%;
    max-width: calc(25.00% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33%;
    max-width: calc(33.33% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-5 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41.666%;
    max-width: calc(41.666% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50.00%;
    max-width: calc(50.00% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 58.33%;
    max-width: calc(58.33% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-8 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.666%;
    max-width: calc(66.666% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-9 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75.00%;
    max-width: calc(75.00% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-10 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.33%;
    max-width: calc(83.33% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-11 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 91.666%;
    max-width: calc(91.666% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
  
  .col-lg-12 {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100.00%;
    max-width: calc(100.00% - var(--slip-desktop));
    padding: 4px calc(var(--slip-desktop)/2);
  }
}
